{% extends "basePage.html" %}
{% block content %}
<div class="container">
    <h4>Select a Farm to filter the sensor table</h2>
    <div class="row">
        <div class="col">
            <label for="farmList" class="form-label">Farm</label>
            <select class="form-select" id="farmList" >
            </select>
        </div>
    </div>
    
</div>
<hr />
<table id="dataTable" class="table table-striped">
    <thead>
      <tr>
        <th>Farm</th>
        <th>DateTime</th>
        <th>Sensor Type</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
 <script>
     $(document).ready(function(){
        //Load Farms dropdown lists
        $.ajax({
            url:'/solitafarms/farms/',
            dataType:'json'
        }).done(function(data,_,_){
            metrics=data.data
            console.log(metrics)
            if (metrics.length>0){
               $("#farmList").append(
                    $('<option></option>').val("").html("Select Farm")
               );
               $.each(metrics,function(index,item){
                    $("#farmList").append(
                        $('<option></option>').val(item.id).html(item.name)
                    );
               }); 
            }
        });


        
        
        table_url='/solitafarms/farms/2/'
        $("#dataTable").DataTable({
            ajax:{
                url:table_url,
                dataSrc:function(json){
                    res=json.data
                    flattened=[]
                    for(i=0;i<res.sensor_data.length;i++){
                            res.sensor_data[i]["farm"]=res.farm.name
                            flattened.push(res.sensor_data[i])
                    }
                    return flattened
                }
            },
            columns:[
                {data:'farm'},
                {data:'date'},
                {data:'metric'},
                {data:'value'}
            ]
        });
        
     });
 </script>
{% endblock %}
